<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.friendship" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddNewTask"
            android:label="@string/title_activity_add_new_task" >
        </activity>
        <activity
            android:name=".EditTask"
            android:label="@string/title_activity_edit_task" >
        </activity>
        <uses-permission android:name="android.permission.INTERNET" />
    </application>

</manifest>
